<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889484747322-34tgqqp99i6lcv0988kft451cv03oo12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889484747322-34tgqqp99i6lcv0988kft451cv03oo12</string>
	<key>API_KEY</key>
	<string>AIzaSyDW3ShvbahVj6NcNHqwXgkgKOOXZrfz6Yw</string>
	<key>GCM_SENDER_ID</key>
	<string>889484747322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bionicTeknologiIndonesia</string>
	<key>PROJECT_ID</key>
	<string>bionic-8e40f</string>
	<key>STORAGE_BUCKET</key>
	<string>bionic-8e40f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889484747322:ios:4478d762349861ee36cb03</string>
</dict>
</plist>